html, body{
	height: 100%;
	width: 100%;
}
body{
	font-family: 'Merriweather', 'Helvetica Neue', 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
header .splash{
	background-image: url('http://i.imgur.com/EqFON6M.jpg');
	background-size: 100% 100%;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	text-align: center;
}
#title{
	color: #FFF;
	
}
header .splash .heading{
	position: relative;
	margin: 0 auto;
	width: 60%;
	height: 80%;
	top: 50%;
	left: 50%;
	margin: -15% 0 0 -30%;
}
.heading hr{
	border: 30px auto;
}
.heading p{
	margin-bottom: 70px;
}
hr{
	border-color: #f05f40;
	outline: none;
	display: block;
	border-width: 3px;
	max-width: 50px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.heading p{
	color: rgba(255,255,255,0.7);
}
header{
	height: 100vh;
	min-height: 100%;
}
#about{
	min-height: 100%;
	height: 100vh;
	background-size: 100% 100%;
}
#overview{
	min-height: 50%;
	height: 50vh;
	background-size: 100% 50%;
}
#about #section-heading{
	color: #FFF;	
}

.bg-primary{
	background-color: #f05f40;
}
.hamburger-wrapper {
  width: 44px;
  height: 44px;
	background: #000;
  position: relative;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: fixed;
  right: 10px;
  top: 12px;
  z-index: 100000;
}
hr.light{
	border-color: white;
}
.text-faded{
	color: rgba(255, 255, 255, 0.7);
}

.btn{
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-primary:hover{
	background-color: #f05f40;
	border-color: #f05f40;
}
.btn-primary{
	color: #FFF;
	background-color: #f04f40;
	border-color: #f04f40;
	border-radius: 300px;
	text-transform: uppercase;
	font-size: 18px;
	transform: all 10.5s;
}
.btn-xl {
  padding: 15px 30px;
  font-size: 16px;
  line-height: normal
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
  border-radius: 30px;
    }
.hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10000;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.hamburger span:nth-child(1){
	top: 0;
}

.hamburger span:nth-child(2){
	top: 8px;
}

.hamburger span:nth-child(3){
	top: 16px;
}

.hamburger.open span:nth-child(1){
	top: 10px;
	width: 0;
	left: 50%;
}

.hamburger.open span:nth-child(2){
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger.open span:nth-child(3){
	top: 10px;
	width: 0;
	left: 50%;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

body{
	-webkit-tap-highlight-color: #222222;
}